body {
    background-image: url('');
}

h1 {
    font-size: 4em;
    font-family: 'Nova Flat', cursive;
    color: #f4df42;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 img {
    height: 1.5em;
    width: auto;
}

.modal-dialog {
    width: 70%;
}
